<%- include('../partials/header.ejs') %>

    <body>
        <h1>Formulário de cadastro</h1>

        <form action="/users/create" method="POST">
            <label for="">Nome: </label>
            <input type="text" name="name" placeholder="Nome" value="<%= name %>">
            <br>
            <% if (nameError) { %>
                <%= nameError %>
                    <% } %>

                        <br><br>
                        <label for="">E-mail</label>
                        <input type="email" name="email" placeholder="exemple: email@email.com" value="<%= email %>">
                        <br>

                        <% if (emailError) { %>
                            <%= emailError %>
                                <% }else{ %>
                                    <%= emailRegistered %>
                                        <% } %>

                                            <br><br>
                                            <label for="">Senha</label>
                                            <input type="password" name="password">
                                            <br>

                                            <% if (passwordError) { %>
                                                <%= passwordError %>
                                                    <% } %>

                                                        <br><br>
                                                        <input type="submit" value="Enviar">
        </form>
        <% if (createSuccess) { %>
            <%= createSuccess %>
                <% } %>



                    <br>
                    <a href="./login">Login</a>
                    <a href="/">Home</a>
    </body>

    <%- include ('../partials/footer') %>